/**Styles that are going to be for the header section**/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
header a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
header ul, li {
    padding: 0;
    list-style-type: none;
}
/*starts MENU*/
.nav-menu {
    position: fixed;
    width: 100%;
}
.nav-menu .long-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.nav-menu .long-menu .user_options {
    display: flex;
}

.nav-menu .long-menu a {
    font-size: 18px;
    font: 500;
}

/*main title*/
