/**Styles that are going to be for the header section**/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
header a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
header ul, li {
    padding: 0;
    list-style-type: none;
}
/*starts MENU*/
