
main {
    height: 150vh;
}

.back-container {
    z-index: 999;
    background-image: url(img/background.jpg);
    background-size: contain;
    background-position: center;
    height: 90vh;
    
}