/**Styles that are going to be for the header section**/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*colors*/
:root {
    --blue-main: #0C2657;
}
header a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font: 600;
}
header ul, li {
    padding: 0;
    list-style-type: none;
}
/*starts MENU*/
.nav-menu {
    position: fixed;
    width: 100%;
    padding: 0.5rem 0;
}

.nav-menu .options {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 5rem;
}
.nav-menu .options .user-options {
    display: flex;
}

/*care with this padding*/
.nav-menu .options .user-options li {
    padding: 0 5px;
}

/*line*/
.user-options .line {
    border: 1px solid black;
    
}
/*title config*/
.nav-menu .options .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 52px;
    font-weight: 600;
    color: var(--blue-main);
}
