/**Styles that are going to be for the header section**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*colors*/
:root {
    --blue-main: #0C2657;
}

body {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style-type: none;
    padding: 0;
}
/*Menu*/
/*Titulo*/
header {
    font-size: 1.2em;
    width: 100%;
    position: relative;
}
header .title { 
    position: absolute;
    top: 1.3em;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1000;
}
header .title a {
    font-size: 2.5em;
    /* font-weight: bold; */
}
header .title a:hover {
    color: var(--blue-main);
}
/*Links in the header*/
header a {
    color: var(--blue-main);
    font-size: 1.1rem;
}

/*Nav*/
.nav-menu {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    right: 0;
    padding: 6.4em 2em 1em;
}
/*just showing the SignIn BTN*/
.nav-menu ul li:nth-child(1), .nav-menu ul li:nth-last-child(1) {
    display: none;
}
/*fixing a weird stuff from the web*/
header ul, ol, dl {
    margin-bottom: 0;

}

/*search-section-Btn*/
.search-section-btn {
    border-bottom: 3px var(--blue-main) solid;
}
.search-section-btn a {
    color: black;
    /*line motion -- other pagees*/
}

/*Sign BTN*/
.sign-btn a {
    text-align: center;
    padding: .2em .5em;
    border: .11rem var(--blue-main) solid;
    border-radius: .6rem;
    transition: all .3s ease;
}
.sign-btn a:hover {
    background-color: var(--blue-main);
    color: #fff;
    border-color: var(--blue-main);
}


/*FOOTER*/

footer {
    padding: 3em 0 0;
    background-color: var(--blue-main);
    color: #fff;
}
.footer-menu {
    display: grid;
    grid-template-areas: 
    'options options brand';
    align-items: center;
    padding: 0 2em;
}

.footer-menu .brand {
    grid-area: brand;
    display: block;
    text-align: right;
}
.footer-menu .footer-menu-options {
    grid-area: options;
    display: block;
}
.footer-menu .copyrights {
    grid-area: copyrights;
    display: block;
}

.footer-menu .footer-menu-options {
    list-style-type: none;   
    font-size: 1.6em; 
}
.footer-menu-options li {
    line-height: 3em;
}
.footer-menu-options li a:hover {
    color: #fff;
    animation: wao-effect infinite 8s;
    text-decoration: underline;
}
.footer-button {
    line-height: 3em;
    border: none;
    background-color: transparent;
    color: inherit;
}
/*Language*/
.flag-language {
    width: 20px;
}

/*©copyright part*/
.copyrights {
    padding: 2em;
    background-color: #C4C4C4;
    color: var(--blue-main);
    font-size: 1.3em;
}
@keyframes wao-effect {
    0% {
        color: #fff;
    }
    25% {
        color: var(--blue-sky);
    }
    50% {
        color: var(--blue-alternative);
    }
    75% {
        color: green;
    }
    100% {
        color: #fff;
    }
}


@media (min-width: 1024px) {
    header .title a {
        font-size: 3.1em;
    }
    .nav-menu ul {
        display: flex;
    }
    .nav-menu ul li a {
        color: black;
        transition: all .3s ease-in-out;
        font-size: 1.8em;
    }
    .nav-menu ul li:nth-child(1), .nav-menu ul li:nth-last-child(1) {
        display: block;
        transition: all .3s ease-out;
    }
    .nav-menu ul li:nth-child(1):hover a, .nav-menu ul li:nth-last-child(1):hover a {
        text-decoration: underline;
    }
    /*sign-btn*/
    .nav-menu .sign-btn a {
        color: var(--blue-main);
        font-weight: bold;
        border: none;
    }
    .nav-menu .sign-btn a:hover {
        background-color: transparent;
        border: none;
        text-decoration: underline;
    }


    /*FOOTER*/
    footer {
        padding: 5em 0 0;
    }
    .footer-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 9em 2.2em 4em;
    }
    .footer-menu .footer-menu-options {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.8em;
    }
    .footer-menu .brand {
        text-align: left;
    }
    .footer-menu .brand h3 {
        font-size: 3em;
    }
    .footer-menu .brand p {
        font-size: 1.4em;
    }
    .footer-menu-options li {
        padding: 0 1.3em;   
    }
    /*©copyright part*/
    .copyrights {
        padding: 3em;
        padding-bottom: 1em;
        background-color: #C4C4C4;
        color: var(--blue-main);
        font-size: 1.3em;
    }
}
