@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito+Sans:wght@400;700&family=Sora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

:root {
    --font-title: 'Roboto Mono', monospace;
    /* --font-title: 'Sora', sans-serif; */
    --font-subs: 'Lato', sans-serif;
    --font-txt: 'Nunito', sans-serif;
    --font-oswald: 'Oswald', sans-serif;
}

/* TITLES' FONTS */
.title-font {
    font-family: var(--font-title);
}


/* SUBTITLES' FONTS */
.subs-font {
    font-family: var(--font-subs);
}


/* SUBTITLES' FONTS */
.txt-font {
    font-family: var(--font-txt);
}



