*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    list-style: none;
}

.menu{
    /* position: fixed; */
    width: 340px;
    height: 1021px;
    left: 0px;
    top: 0px;
    /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
    border-radius: 15px;
    /* border:5px solid black; */
}

.jobiu{
    position: relative;
    font-size: 3em;
    text-align: center;
    top: 50px;
    color:#ee609c;
}



.home a{
    /* position: relative; */
    font-size: 1.5em;
    left: 100px;
    top: 240px;
    text-decoration: none;
    color: black;
    color:#ee609c;
}
.home:hover{
    transform:translateX(6px);
}

.user a{
    /* position: relative; */
    font-size: 1.5em;
    left: 96px;
    top: 322px;
    text-decoration: none;
    color: #ee609c;
}

.user:hover{
    transform:translateX(3px);
}

.jobs a{
    /* position: relative; */
    font-size: 1.5em;
    top: 421px;
    left: 96px;
    text-decoration: none;
    color: #ee609c;
}

.jobs:hover{
    transform:translateX(3px);
}

.sign{
    /* position: relative; */
    font-size: 1.5em;
    left: 96px;
    top: 519px;
    text-decoration: none;
    color:#ee609c;
}

.myp{
     position:relative; 
    text-align: center;
    font-size: 3em;
    top:25px;
}

.profile{
    text-align: center;
    /* position: relative; */
    height: 811px;
    width: 1000px;
    top: 121px;
    left: 400px;
    border-radius:25px;
    background: linear-gradient(270deg, #764ba2, #b465da, #cf6cc9, #ee609c);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



.description{
    position:absolute;
    width: 420px;
    background-color:white;
    height: 600px;
    left: 25px;
    top: 50px;
    border-radius: 25px;
    border: 2px solid black;
}

.img{
    position:relative;
    top: 35px;
    height:120px;
}
.form{
    position: relative;
    top: 45px;
}
.name{
    
    display: block;
    text-align: center;
}
.name input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid red;
    outline: none; font-size:1.3em;
}

.age{
    display: block;
    text-align: center;
}

.age input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid red;
    outline: none; font-size:1.3em;
}

.uni{
    display: block;
    text-align: center;
    margin-left: 10px;

}

.uni input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid red;
    outline: none;
    font-size:1.3em;
}

.desc1{
    position: relative;
    top: 70px;
}

.desc2{
    position: relative;
    top: 80px;
}

.career{
    background-color: white;
    /* position: absolute; */
    top:50px;
    right:25px;
    width: 500px;
    height: 300px;
    border-radius:25px;
    border:2px solid black;
}

.career input{
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid red;
    outline: none;
    font-size:1.3em;
    margin-left:15px;
}
.abilities{
    background-color:white;
    position: absolute;
    top:400px;
    right:25px;
    width:500px;
    height:300px;
    border-radius:25px;
    border:2px solid black;
}
.abilities textarea{
    width:300px;
    font-size:1.3em;
    margin-left:15px;
}

.save{
    padding:10px;
    padding-left:15px;
    padding-right:15px;
    outline:none;
    border:none;
    background-color:turquoise;
    border-radius:15px;
}
@media screen and (max-width: 605px){
    .menu{
        width:100%;
        height:200px;
        text-align: center;
    }
    .jobiu{
        top:15px;
    }

    .menu p{
        display:inline-block;
        margin-top: 50px;
        padding:5px;
        
    }

    .home a{
        font-size: 1.2em; 
    }
    .user a{
        font-size: 1.2em; 
    }
    .jobs a{
        font-size: 1.2em; 
    }
    .sign{
        font-size: 1.2em;
    }

    .myp{
        top: -30px;
        font-size: 2.3em;
    }
    .profile{
        width: 100%;
        height: 1420px;
        top:100px;
        left:0;
       border-radius:0px;
    }

    .description{
        position:relative;
        top:60px;
        width:300px;
        left:10px;
        margin-left:auto;
        margin-right:auto;
    }

    .description label{
        font-size:1em;
    }

    .description img{
        height:50px;
    }

    .career{
        position:relative;
        width:300px;
        top:100px;
        left:10px;
        margin-left:auto;
        margin-right:auto;
        font-size:.9em;
    }

    .abilities{
        position:relative;
        width:300px;
        top:140px;
        left:10px;
        margin-left:auto;
        margin-right:auto;
        font-size:.9em;

    }

    .abilities textarea{
        width:250px;
        margin-top:25px;
    }
    .save{
        position:relative;
        top:160px;
        font-size:1.3em;
    }
}

@media screen and (min-width: 606px) {
    .menu{
        position: fixed; 
        width: 240px;
        height: 700px;
    }
    .home a{
        position: relative; 
        font-size: 1.5em;
        left: 50px;
        top: 160px;
        text-decoration: none;
        color: black;
        color:#ee609c;
    }
    
    
    .user a{
        position: relative; 
        font-size: 1.5em;
        left: 50px;
        top: 242px;
    }
    
    
    .jobs a{
        position: relative; 
        font-size: 1.5em;
        top: 322px;
        left: 50px;
       
    }
    
    .sign{
        position: relative; 
        font-size: 1.5em;
        left: 50px;
        top: 402px;
    }
    
    .myp{
        position:relative; 
        text-align: center;
        font-size: 3em;
        top:25px;
    }
    
    .profile{
        text-align: center;
        position: relative; 
        height: 1000px;
        width: 500px;
        top: 121px;
        left: 240px;
    
    }
    
    .description{
        position:absolute;
        width: 320px;
        height:430px;
        left:100px;
    }
    
    .img{
        position:relative;
        top: 15px;
        height:50px;
    }
    .form{
        position: relative;
        top: 25px;
    }
    
    .name input{ 
        font-size:1.1em;
    }
    
    .age input{
        outline: none; font-size:1.1em;
    }
    
    .uni{
        display: block;
        text-align: center;
        margin-left: 10px;
    
    }
    
    .uni input{
        font-size:1.1em;
    }
    
    .desc1{
        position: relative;
        top: 70px;
    }
    
    .desc2{
        position: relative;
        top: 80px;
    }
    
    .career{
        background-color: white;
        position:absolute;
        top:500px;
        width: 320px;
        height:230px;
        left:100px;
    }
    .career h1{
        font-size:1.8em;
    }
    .career input{
        font-size:1.1em;
    }
    .abilities{
        position: absolute;
        top: 750px;
        left:100px;
        width:320px;
        height:230px;
    }
    .abilities h1{
        font-size:1.8em;
    }
    .abilities textarea{
        width:280px;
        font-size:1.1em;
        margin-left:5px;
    }
    .save{
        display:inline-block;
        position:relative;
        top:10px;
    }

}
@media screen and (min-width: 1024px){
    .menu{
        position: fixed; 
    }

    .home a{
        position:relative;
    }
    .user a{
        position:relative;
    }
    .jobs a{
        position:relative;
    }

    .sign{
        position:relative;
    }

    .profile{
        position:relative;
        height: 811px;
        width: 1000px;
        top: 121px;
        left: 400px;
    }

    
    .description{
        position:absolute;
        width: 420px;
        background-color:white;
        height: 600px;
        left: 25px;
        font-size:1.3em;
    }
    
    .career{
        background-color: white;
        position: absolute; 
        top:50px;
        left:480px;
        width:500px;
        height:300px;
    }
    
    .career input{
        font-size:1.3em;
        margin-left:15px;
    }
    .abilities{
        background-color:white;
        position: absolute;
        top:400px;
        left:480px;
        width:500px;
        height:300px;
        border-radius:25px;
        border:2px solid black;
    }

    .save{
        position:relative;
        top:90%;
        left:-20px;
        font-size:1.3em;
    }
    
    
}