* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root {
    --blue-main: #0c2657;
    --blue-sky: #00BDC3;
    --font-title: 'Sora', sans-serif;
    --font-subs: 'Montserrat', sans-serif;
    --font-txt: 'Nunito', sans-serif;
}
body{
    background-color: var(--blue-sky);
}

/* Background of the page */
.head {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0,0,0,.1))
    ,url('img/main-page/background.jpg');
    background-size: cover;
    height: 700px;
}

header {
    width:100%;
    position: relative;
}
.title {
    font-family: var(--font-title);
    text-align: center; 
    color: var(--blue-main);
}
.title-1 {
    Font-size:1.7em;
    font-weight:bold;
}
.title-sub {
    display:inline-block;
    font-style: italic;
    font-size:1em;
    padding:5px
}

.title-sub:hover{
    transform:translateX(50px);
    transition: all .25s ease-in;
    background: linear-gradient(90deg, #03a9f4, skyblue, white, #03a9f4);
        background-size: 400%;
        border-radius: 30px;
        animation: animate 8s linear infinite;
}

 @keyframes animate{
    0%{
        background-position: 0% ;
    }
    100%{
        background-position: 400% ;
    }
}




/* h1{
    
    color: black;
    margin-left: 7em;
    
}
.companies{
    margin-left: 15em;
    position: relative;
    margin-top: -17px;
    z-index: 5;
    
} */

 .logocomp{
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 30px;
    left: 5px;
    top: 10px;
    border: 3px solid black;
 }  


/* Menu de arriba */
.nav-item {
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 10px; 
    padding-bottom: 5px;
    color: white;
    font-size: 1rem;
    font-family: var(--font-subs);
}
.nav-item-m {
    font-family: var(--font-subs);
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 10px; 
    padding-bottom: 5px;
    color: white;
}
/* Modal */
.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    font-family: var(--font-subs);
    width: 40%;
    height: 50%;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
   transition: transform 1s;
    transform: translateY(0%); 
    border-radius: 20px;
   /*  overflow: hidden; */
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #c44a4a;
    color: white;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close{
     transform: translateY(-200%);
}

.img2{
    height: 50%;
}
.link_c{
    display: block;
    text-decoration: none;
    color: black;
    font-size:25px;
}
/* .nav-item:hover{
    background-color: steelblue;
}
.nav-item:active{
    background-color: steelblue;
    transform: scale(.8);
} */
nav{
    background-color: transparent;
    position: absolute;
    right: 0;
}
/* Fin de menu de arriba */

/* Menu display de opciones */
#toggle{
    display: none ;
}

.menu{
    /* position: absolute; */
    right: 0;
    margin-top: 0;
    list-style: none;
    display: block;
    visibility: collapse;
    
}

.menu-item{
    display: inline-block;
    text-align: right;
    padding-bottom: 1px;
    border-bottom: 2px solid aqua;
    display: block;
}

.menu-item a{
    text-decoration: none;
    color: white;
}
/* Fin de menu display de opciones */


h2 {
    font-family: var(--font-subs);
    text-align: center;
}
.Jobs{
    height: 425px;
    width: 300px;
    position: relative; 
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    border: 5px aquamarine solid;
}

.right{
    position:absolute ; 
    margin-top: 212px;
    right: 0;
    border-radius: 4px;
    border:none;
    outline: none;
    font-size: 2em;
}

.left{
    position: absolute; 
    margin-top: 212px;
    left: 0;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 2em;
}




/* Boton */

.buttonjob{
    display: block;
    background-color: turquoise;
    margin-left:auto;
    margin-right: auto;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.5em;
    outline:none;  
}



.buttonjob:active{
    transform: scale(.9);
}
/* Fin de botón */


.footer {
    font-family: var(--font-txt);
    background-color: black;
    margin-top: 30px;
    height: 150px;
    width: 100%;
    
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer p{
    display: inline-block;
    padding: 10px;
    font-size: 16px;
}

.jobiurights{
    padding: 16px;
    /* position:relative; */
    bottom: 0;
    color: white;
    display: inline-block; 
 }


.menub:active, .menub1:active, .menub2:active{
    color: white;
    background-color: teal;
    transform: scale(.9);
} 


#toggle:checked ~ * .menu{
    visibility: visible;
}

@media (min-width: 1024px){

    h1{
        color:black;
        margin-left: 20em;
        font-size: 2.3em;

    }

    .companies{
        margin-left: 48em;
        position: relative;
        padding-top:20px;
        z-index: 5;
        
    }
    .logocomp{
        display: inline-block;
        width: 300px;
        height: 150px;
        position: absolute;
        left: 50px;
        top: 50px;
         border: 3px solid black; 
        /* border-radius: 6px solid black; */ 
    }
    /* Menu de arriba */
    .nav-item{
        background-color: transparent;
        display: inline-block;
        text-decoration: none;
        padding-left: 10px;
        padding-right:10px;
        margin-top: 50px;
        padding-bottom: 5px;
        color: white;
        font-size: 1.2em;
    }
    
    .nav-item:hover{
        background-color: steelblue;
    }
    .nav-item:active{
        background-color: steelblue;
        transform: scale(.8);
    }
    nav{
        background-color: transparent;
        position: absolute;
        right: 0;
    }

    .menu{
        font-size: 1.2em;
    }
    /* Menu de arriba */

    h2{
        color: black;
        text-align:center;
        font-size: 2.3em;
        
    }

    .Jobs{
        height: 700px;
        width: 900px;
        position: relative;
        background-color:white;
        margin-left: auto;
        margin-right: auto;
        border: 5px aquamarine solid;
    }

    .right{
        position: absolute;
        margin-top: 350px;
        right: 0;
        border-radius: 4px;
        border:none;
        outline: none;
        font-size: 2em;
       
    }
    
    .left{
        position: absolute;
        margin-top: 350px;
        left: 0;
        border-radius: 4px;
        border: none;
        outline: none;
        font-size: 2em;
    }

    .right:hover{
        transform: translateX(3px);
        transition: all .3s ease-out;
    }

    .left:hover{
        transform: translateX(-3px);
        transition: all .3s ease-out;
    }
    
    .buttonjob{
        position: relative;
        background-color: turquoise;
        border-radius: 6px ;
        font-size: 1.7em;
        border: none;
        padding: 5px;
        outline: none;
        text-align: center;
    }

    .buttonjob:active{
        transform: scale(.9);
    }
    .footer{
        position: relative;
        background-color: black;
        margin-top: 30px;
        height: 150px;
        width: 100%;
        color: white;
        
    }
    [class^="menu"]{
        text-align: center;
        margin-left:15px;
    }
    .menub{
        display: inline-block;
        /* position: absolute; */
        bottom: 60px;
        left: 0;
        text-decoration: none;
        color: white;
        font-size: 22px;
        /* padding-left: 4px; */
        padding: 5px;
    }
    .menub1{
        display: inline-block;
        /* position: absolute; */
        bottom: 60px;
        left: 5em;
        text-decoration: none;
        color: white;
        font-size: 22px;
        padding: 5px;
    }
    .menub2{
        display:inline-block;
        /* position: absolute; */
        bottom: 60px;
        left: 13em;
        text-decoration: none;
        color: white;
        font-size: 22px;
        padding:5px
    }

    .wao_effect:hover{
        background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
        background-size: 400%;
        border-radius: 30px;
        animation: animate 8s linear infinite;
        /* transition: all .2s ease-in-out; */

    }
    

    }
    @keyframes animate{
        0%{
            background-position: 0% ;
        }
        100%{
            background-position: 400% ;
        }
    }
    

    #toggle:checked ~ * .menu{
        visibility: visible;
    }

     

