@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito+Sans:wght@400;700&family=Sora:wght@400;500&display=swap');

:root {
    --blue-main: #0c2657;
    --blue-sky: #00BDC3;
    --blue-alternative: #5B9DF4;
    --font-txt: 'Nunito', sans-serif;
    --font-subs: 'Montserrat', sans-serif;
    --font-title: 'Sora', sans-serif;
}

body {
    font-size: 10px;
    font-family: var(--font-txt);
    overflow-x: hidden;
}
/* InfoContainer padding */
.info-container {
    padding: 1rem 2.5em;
}
/* Page Title */
.page-title {
    font-weight: bolder;
    font-size: 2em;
}
.page-title span {
    color: var(--blue-main);
}

/* - Info - */
section {
    z-index: 1000;
}
/* in General */
.article-divider {
    padding: 4em 0;
}
.article-divider h2 {
    font-weight: bold;
    font-size: 2.4em;
}
.article-divider p {
    font-size: 1.6em;
}

/*** intoSections */
.intro-section .article-divider h2 {
    font-size: 4em;
}
.intro-section .article-divider img {
    width: 100%;
}

/*CustomSearch-Sect*/
.customsearch-section .article-divider {
    text-align: center;
}
.customsearch-section .article-divider p {
    text-align: right;
    padding: 2em 0 0 3em;
}
.customsearch-section .article-divider img {
    width: 100%;
}

/* SHAPE */
.shape {
    position: absolute;
    top: 70em;
    right: 0;
    z-index: -1;
    width: 0;
    height: 30em;
    border-top: 45em solid var(--blue-sky);
    border-right: 25em solid transparent;
    border-bottom: 11.5em solid var(--blue-sky);
    border-left: 10em solid transparent;
    border-radius: 10px 10px 10px 0px;
}

/* Posibilities-Sect */
.posibilities-section .grid-article {
    display: grid;
    grid-template-areas:
    "title"
    "info1"
    "images"
    "info2";
    gap: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.grid-article .grid-title {
    grid-area: title;
}
.grid-article .grid-info1 {
    grid-area: info1;
}
.grid-article .grid-images {
    grid-area: images;
}

/* End-Section */
.end-section {
    padding: 2em 0;
    position: relative;
}

/*semicircles*/
.form1, .form2 {
    background-color: var(--blue-main);
    height: 5em;
    width: 100vw;   
}
.form1 {
    border-radius: 0 0 50% 50%;
}
.form2 {
    border-radius: 50% 50% 0 0;
}
/*H2*/
.end-section h2 {
    padding: 3em 1.5em;
    color: var(--blue-main);
    font-size: 2em;
    text-align: center;
}
.end-section h2 span {
    font-weight: bolder;
    font-size: 1.3em;
}

/*Bigger Screens*//*TABLET*/
@media screen and (min-width: 768px) {

    .info-container {
        padding: 3em;
        font-size: 16px;
    }
    /* Page Title */
    .page-title {
        font-weight: bolder;
        font-size: 2em;
        font-weight: 400;
    }   

    /*in General*/
    .article-divider {
        padding: 5em 0;
    }
    .article-divider h2 {
        font-weight: bold;
        font-size: 2em;
    }
    .article-divider p {
        font-size: 1.3em;
    }
    
    /*Intro Section*/
    .intro-section .article-divider {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: .5em;
    }
    .intro-section .article-divider h2 {
        font-size: 3em;
    }

    /*CustomSearch-Section*/
    .customsearch-section .article-divider {
        display: grid;
        grid-template-areas: 
        "custom_img-grid custom_info-grid";
    }
    .customsearch-section .article-divider .custom_info-grid {
        grid-area: custom_info-grid;
    }
    .customsearch-section .article-divider .custom_search-grid {
        grid-area: custom_search-grid;
    }
    .customsearch-section .article-divider .customsearch-info {
        text-align: right;
    }
    /*shape*/
    .shape {
        top: 40em;
        border-top: 25em dotted var(--blue-sky);
        border-left: 20em solid var(--blue-main);
        border-bottom: 5em solid transparent;
        border-right: 35em solid transparent;
        border-radius: 0;
    }

    /*Posibilities Section*/
    .posibilities-section .grid-article {
        grid-template-areas: 
        "title images images"
        "info1 images images"
        "info2 images images";
        gap: 1.5em;
    }
    .grid-article .grid-images {
        width: 100%;
    }
    .posibilities-section .article-divider {
        text-align: left;
    }

    /*- - END-Sec - -*/
    .end-section {
        padding: 1em 0 2em;
    }

    /*semicircles*/
    .form1, .form2 {
        height: 7em;
    }
    /*H2*/
    .end-section h2 {
        padding: 5em 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    
    .info-container {
        padding: 3em 10em;
    }

    /*in General*/
    .article-divider {
        padding: 8em 0;
    }

    /*Intro-Section*/
    .intro-section .article-divider h2 {
        font-size: 3.5em;
    }

    /*CustomSearch-Section*/
    .shape {
        top: 60em;
        border-top: 20em dotted var(--blue-sky);
        border-right: 60vw solid transparent;
        border-bottom: 20em solid transparent;
        border-left: 10em solid transparent;
    }

    /*Posibilities-Sec*/
    .posibilities-section .grid-article {
        grid-template-areas: 
        "title images images images"
        "info1 images images images"
        "info2 images images images";
        gap: 5em 4em;
    }
    .posibilities-section .grid-article .grid-images {
        height: 100%;
        width: 35vw;
    }

    /*End-Section*/
    .end-section h2 {
        font-size: 3em;
    }
}