/**Styles that are going to be for the header section**/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');
/*colors*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue-main: #0C2657;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
ul, li {
    list-style-type: none;
    padding: 0;
}
/*Menu*/
/*Titulo*/
header {
    width: 100%;
    position: relative;
}
header .title { 
    position: absolute;
    top: 1.3em;
    left: 50%;
    transform: translate(-50%, 0%);
}
header .title a {
    font-size: 1.7em;
    font-weight: bold;
}
header a {
    color: var(--blue-main);
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}

/*Nav*/
.nav-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 0;
    padding: 4em 1em 1.5em;
}
/*just showing the SignIn BTN*/
.nav-menu ul li:nth-child(1), .nav-menu ul li:nth-last-child(1) {
    display: none;
}

.nav-menu a {
    font-size: 1.2em;
}

/*search-section-Btn*/
.search-section-btn {
    border-bottom: 3px var(--blue-main) solid;
}
.search-section-btn a {
    color: black;
    /*line motion -- other pagees*/
}

/*Sign BTN*/
.sign-btn a {
    text-align: center;
    padding: 0px 10px;
    border: 1.4px var(--blue-main) solid;
    border-radius: 10px;
    transition: all .3s ease;
}
.sign-btn a:hover {
    background-color: var(--blue-main);
    color: #fff;
    border-color: var(--blue-main);
}


@media (min-width: 1024px) {
    .nav-menu ul {
        display: flex;
    }
    .nav-menu ul li {
        padding: 0 .3em;
    }
    .nav-menu ul li a {
        color: black;
        transition: all .3s ease-in-out;
    }
    .nav-menu ul li:nth-child(1), .nav-menu ul li:nth-last-child(1) {
        display: block;
        transition: all .3s ease-out;
    }
    .nav-menu ul li:nth-child(1):hover a, .nav-menu ul li:nth-last-child(1):hover a {
        text-decoration: underline;
    }
    /*sign-btn*/
    .nav-menu .sign-btn a {
        color: var(--blue-main);
        font-weight: bold;
        border: none;
    }
    .nav-menu .sign-btn a:hover {
        background-color: transparent;
        border: none;
        text-decoration: underline;
    }
}
