@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Roboto', 'sans-serif';
}
/*Esta parte es para móviles*/
:root {
    --blue-main: #0c2657;
    --blue-sky: #00BDC3;
}
main {
    width: 100%;
}

.back-container {
    margin: auto;
    background-image: linear-gradient(20deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, .7)), url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vh;
    width: 100%;
    
}
/*Searching the JOb*/
.search-container {
    padding: 1rem;
    text-align: center;
    align-items: center;
}
.search-container .label_design {
    position: relative;
}

.search-container .label_design .search-icon {
    position: absolute;
    width: 16px;
    top: 50%;
    right: 0;
    transform: translate(-50%, -45%); /*interesting*/
}

.search-container .buscador_design  {
    background-color: transparent;
    border: 2.3px solid var(--blue-sky);
    border-radius: 5px;
    padding: 7px 15px;
    margin: 20px auto;
}

/*estilos para los input*/
.buscador_design:placeholder-shown{
    border-color:black;
}


/*modifying the search button*/
.search-button {
    padding-top: 2rem;
}
.search-button button{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: none;
    font-weight: 700;
    font-size: medium;
    background-color: var(--blue-sky);
}

/** Here Starts the Search-Section **/
.recent-searches {
    padding: 2rem;
}
